# INFO 3401 – Homework 5

correlation between two variables.

### Step 1: find a dataset

In [1]:
import pandas as pd
import numpy as np
# https://www.kaggle.com/sveneschlbeck/hotel-prices-beginner-dataset
df = pd.read_csv("hotels.csv")
df

       Profit  Price in Millions  Square Meter     City
0    119000.0              21.88        3938.0   Berlin
1    250000.0              27.95        3986.0   Munich
2    250000.0              16.09        2574.0  Cologne
3    145000.0              27.58        4155.0   Munich
4    110000.0              23.76        3795.0   Berlin
..        ...                ...           ...      ...
145   45000.0              10.50        1775.0  Cologne
146  250000.0              23.80        4058.0  Cologne
147   32000.0              12.86        1668.0   Berlin
148   35000.0              15.80        2281.0   Berlin
149   90000.0              17.09        2297.0   Berlin

[150 rows x 4 columns]

### Step 2: group the data and select two fields

In [2]:
small_df = df[["Price in Millions","Square Meter"]] # fill this variable with your smaller dataframe
small_df.head()

   Price in Millions  Square Meter
0              21.88        3938.0
1              27.95        3986.0
2              16.09        2574.0
3              27.58        4155.0
4              23.76        3795.0

In [3]:
location_df = df[["Price in Millions","City"]]
location_df

gk = location_df.groupby('City')
gk.first()

         Price in Millions
City
Berlin               21.88
Cologne              16.09
Munich               27.95

### Step 3: make a scatter plot showing the relationship between the variables

Make a scatter plot showing the relationship between the two variables in your dataframe. As always, be sure to consider the aesthetics of your plot. Does the scale of the axis make sense? Does your plot have a title? Are the axes labeled?

In [4]:
import altair as alt


plot = alt.Chart(small_df).mark_circle(size=60).encode(
    alt.X('Price in Millions'),
    y='Square Meter'
    ).properties(
    title = "Relationship between Hotel Price and Size",
)


plot

alt.Chart(...)

# Further Research / Aggregation

In [5]:
location = alt.Chart(location_df).mark_bar().encode(
    alt.X('City'),
    y='Price in Millions'
    ).properties(
    title = "Relationship between Location and Price",
)


location

alt.Chart(...)

### Step 4: interpret your plot

**Based off my plot, I can see that Hotel Size and Hotel Price are positively linearly correlated. I also wanted to look at the different locations to see how much location will influence the price of a hotel. Based off Graph 2, I can expect to see that Locations in "Munich will tend to be more expensive than other locations. This indicates that Sq Ft is not directly correlated to Price.**

### Step 5: quantitatively compute correlation

Eyeballing a plot is a good start, but it's good to also quantitatively compute the correlation between variables.
Using the correlation function, compute the correlation between your two variables. Does your computed correlation match what you would expect from your plot? 

**Based off the graph above and my correlation coefficient, there is clearly a strong positive correlation between hotel size and price. Intuitively, this makes sense because usually the price of living goes up if there is more space provided to live with.**

In [6]:
def correlation(x, y):
    '''
    Input:
        x, a list of values
        y, a list of values
    
    Returns the Pearson correlation between x and y
    '''
    a = np.cov(x, y)
    cov =  a[0][1]
    sd1, sd2 = np.sqrt(a[0][0]), np.sqrt(a[1][1])
    return cov/(sd1 * sd2)

In [7]:
hotel_corr = correlation(small_df["Price in Millions"],small_df["Square Meter"])
hotel_corr

0.9137277740084544

### Step 6: Interpret correlation vs. causality

**Although we see a strong positive correlation, it does not mean that the two variables are directly affecting one another. For example, the highest price point on the graph is not the most expensive. This means that "higher price" does not imply there will be "more space". Conversely the lowest hotel price does not have the lowest size. Showing us the "smallest space" does not imply lowest price.** 

**With that said, I cannot think of another underlying variable that could cause such a strong positive correlation between these two factors. I think # of hotel occupants in a room are the driving factor for price, however this will also be correlated to size since more people will need more space. I think that there is a slight causal relationship between price and size, although this will not always hold true due to underlying variables such as location(some locations could just be more expensive), Quality of hotel room (Better view, beds, ect..) and access hotel amenities(Pool, Spa, Exercise facilities).**

**Additionally, I learned that Location will also play a large role in the price difference for hotels and should be considered when determining what makes the price of a hotel go up.**